header{
    height: 100vh;
    padding-top: 6rem;
    overflow: hidden;
}
.header__container{
    height: 100%;
    text-align: center;
    position: relative;
} 

/* =======CTA========= */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =======Header Socials========= */

.header__socials{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    left: 0;
    bottom: 2rem;
}
.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ============me=========== */

.me{
    background: linear-gradient(var(--color-primary),transparent);
    position: absolute;
    width: 22rem;
    height: 30rem;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    /* padding: 2rem 1.5rem 1.5rem 1.5rem; */
}

/* ==========scroll down========= */
.scroll__down{
    position: absolute;
    /* margin-left: 25rem; */
    right: -2.3rem;
    bottom: 4rem;
    transform: rotate(90deg);
    
}

/* =========medium devices */
@media screen and (max-width:1024px) {
   
    header{
        height: 68vh;
    }
}

/* =========small devices */
@media screen and (max-width:600px) {
    
    header{
        height: 100vh;
    }
    .header__socials,.scroll__down{
        display: none;
    }
}